@model IEnumerable<baitap_mvc_3.Models.Nhanvien>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "Them", "Nhanvien")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDLoaiNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chucvu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDLoaiNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chucvu)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Capnhat", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Xoa", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back To Menu", "Index", "AdminHome")